<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081066349953-90kim5f7h5hniqd1iddhqv98bmhqu8dd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081066349953-90kim5f7h5hniqd1iddhqv98bmhqu8dd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1081066349953-aklaa0cnb7n1m8j5npcomsa3c2m0cud8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ4SHy0CowD0mNyivz-4sxhcnB8HR6tOA</string>
	<key>GCM_SENDER_ID</key>
	<string>1081066349953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timeTrackingApp</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-app-b692f</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-app-b692f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081066349953:ios:d3c4ea367721b3c3423480</string>
</dict>
</plist>